<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    
    <ui:define name="head">
        <script type="text/javascript">
            //<![CDATA[
            function skinChart() {
                this.cfg.shadow = false;
                this.cfg.title = '';
                this.cfg.seriesColors = ['#EA9624', '#5BA5D8'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#F5F5F5',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#666F77'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
            //]]>  
        </script>
        <style type="text/css">
            .main-content {
                padding: 0;
            }
            
            #main-wrapper-content {
                padding: 10px;
            }
        </style>
    </ui:define>
    
    <ui:define name="content">
    
    <h:form id="formBackEnd">
        <div class="dashboard">
            
            <div id="main-wrapper-content">
                    
                <div class="ui-g">
                    
                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <p:panel header="Ingreso de valor" style="background:#fff;height:100%">
                            <div class="ui-g-12">
                            	<div class="ui-g-12">
                                    <p:inputTextarea placeholder="Ingrese valor completo" value="#{dtBasicView.inputString}" />
                                </div>
                            </div>
                            <p:commandButton  value="Procesar"  icon="fa fa-plus" update="outputPanel"
                            actionListener="#{dtBasicView.processValue}" process="@form"
                            ></p:commandButton>
                        </p:panel>
                    </div>
                    
                    <div class="ui-g-12 ui-md-4 ui-fluid">
                        <p:panel header="Resultado" style="background:#fff;height:100%" id="outputPanel">
                            <div class="ui-g-12">
                            	<div class="ui-g-12">
                                    <p:inputTextarea placeholder="Resultado operación" value="#{dtBasicView.outputString}" readonly="true"/>
                                </div>
                            </div>
                        </p:panel>
                    </div>
                    
                    
                  	<p:dialog header="Resultado" widgetVar="dlgAdd" minHeight="40" responsive="true" height="60" closable="false">
			       	    <h:panelGrid columns="2">
			       	    	<h:outputText value="Tu gasto fue registrado satisfactoriamente" />
			       	    </h:panelGrid>
			             <div align="center"> 
			             	<p:commandButton value="Aceptar"  onclick="PF('dlgAdd').hide();"  style="width:100px" process="@form"/>
			             </div>
		           </p:dialog>
                   
                    
                </div>
            </div>
        </div>
        </h:form>
    </ui:define>
    
</ui:composition>