<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
    
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <h1>Instructivo General Prueba DANNY</h1>
                    <p>A continuación encontraran los detalles de mi prueba.</p>
                    <p><strong>URL Repositorio: </strong>https://dalesupa22@bitbucket.org/dalesupa22/dannytest.git</p>
                    
                     <strong>BackEnd Challenge</strong>
                    <ul>
                        <li>En la opción de menu BackEnd encontraran un escenario online para que prueben el code challenge. Adicional, los invito a ver el siguiente documento 
                        <a href="https://docs.google.com/document/d/1UiK4_VvRr3Wb8JE4sorBHcNyCw69ZiROhOat854RnHw/edit">Link</a> donde 
                        encontraran una explicación detallada de la solución. wegweg XXXXX</li>
                    </ul>
                    
                    <strong>BackEnd Answers</strong>
                    <ul>
                    	<li><strong>Refactoring Part 1</strong> En general el código esta cumpliento su próposito. Algunas cosas que resaltaría serían:
                    	<br/>
                    	<ul>
                    		 <li>Desconozco la lógica. Pero me llama la atención que se hacen múltiples UPDATES para actualizar la información
                    		 del conductor o driver. Se hace un llamado para actualizar el Estado, otro para la disponibilidad.</li>
						      <li>Comentarios innecesarios</li>
						      <li>Descripción de significado de las excepciones. Esto debido a que todas son númericas y pueden haber maletendidos.</li>
						      <li>La función <strong>Service::find($id)</strong> se está llamando muchas veces. Pienso que esto se podría optimizar con un solo llamado o buscando otra alternativa</li>
						    </ul>
                    	
                    	</li>
                    	<li><strong>Rafactoring Part 2 (No se entrega solución con Refactoring)</strong> 
                    		<ul>
                    			<li>Si uno quiere actualizar un objeto o clase varias veces basta con solo hacer un llamado a la base de datos y no múltiples UPDATES</li>
                    		 <li>Revisar los comentarios de código</li>
						      <li>Revisar los mensajes de error</li>
						    </ul>
                    	
                    	
                    	
                    	</li>
                    	<li><strong>Principio de responsabilidad única</strong> El principio de reponsabilidad única tiene como objetivo
                    	que una sola clase o función realice un proposito especifico. 
                    	Esto hace que cada vez que creemos una clase sea porque necesitamos un objetivo puntual, asimismo, si vemos que en una clase
                    	se están realizando más de un fin especifico. La mejor opción es dividir el código en otra clase nueva. 
                    	<br/>De esta forma garantizamos desacoplamiento, encapsulamiento y fácil comprensión de la arquitectura del código y del negocio.
                    	<br/>
                    	El mejor ejemplo es si yo tengo una clase que manda correos y otra que gestiona el contenido del mismo. Es mejor separarlas para que 
                    	una se encargue del código.
                    	<br/>
                    	Este principio se debe aplicar cuando se esta diseñando la arquitectura de la aplicación teniendo muy en cuenta que es lo que se quiere
                    	en el negocio. Ej: Contabilidad, Envío de correos, Registro de usuarios...
                    	</li>
                    	<li><strong>Good Code</strong> 
                    	Para mi un buen código es:
                    	<br/><br/>
                    	<ul>
                    	<li>Un código modularizado por funciones de negocio.Ejemplo:
                    	Tener un proyecto aparte para generación de reportes, otro para tus usuarios, otro para tus clientes...</li>
                    	<li>Un código desaclopado. </li>
						      <li>Lo más básico es tener un proyecto
                    	para cosas comunes o utilitarios, otro proyecto donde se maneje la persistencia, otro proyecto donde manejemos los servicios de negocio
                    	y otro proyecto donde podamos manejar el front end.</li>
                    	
                    	<li>Es importante hacer buen uso del manejo de librerías externas usando herramientas como POM.</li>
                    	<li>Respecto a las pruebas unitarias mi opinión es que se deben desarrollar sólo para casos que realmente lo ameriten ya que si le aplicas
                    	pruebas a la mayoría de los métodos vas a perder tiempo y recursos innecesariamente.</li>
                    	<li>En cuanto al código que este se encuentre muy bien identado y comentariado.El idioma de todas las clases debe ser en inglés y debe ser facilmente comprensible para que otras personas lo tomen en el futuro.</li>
                    	<li>Si se maneja un repositorio que cada vez que se haga un commit este debidamente comentariado.</li>
						    </ul>
						    
               
                    	</li>
                    </ul>
                    
                    <strong>FrontEnd</strong>
                    <ul>
                    	<li>La solución se encuentra desarollada con el Framework Primefaces.</li>
                        <li>Implemente todo solo hizo falta lo de procesar una URL bajo una petición HTTP GET. De momento es posible escoger un archivo JSON y procesarlo.</li>
                    </ul>
                    
                    <p>Para más información contactarme a dalesupa22@gmail.com</p>

<pre>
</pre>


                    
                   
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>