<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
	
    <ui:define name="content">
    <h:outputScript name="js/primafacesESLocale.js" library="iproductus-layout" />
    
          <script type="text/javascript">
            //<![CDATA[
            function skinChart() {
                this.cfg.shadow = false;
                
                this.cfg.title = '';
                this.cfg.seriesColors = ['#EA9624', '#5BA5D8'];
                this.cfg.grid = {
                    background: '#ffffff',
                    borderColor: '#ffffff',
                    gridLineColor: '#F5F5F5',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#666F77'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    lineWidth: 1,
                    markerOptions: {
                        shadow: false,
                        size: 7,
                        style: 'circle'
                    }
                }
            }
            //]]>  
        </script>
    
        <h:form id="form" enctype= "multipart/form-data" >
          <div>
          	<p:fileUpload   auto="true" process="@this" update="@form"  
               fileUploadListener="#{frontEndView.handleFileUpload}" value="Cargar JSONXX" label="Cargar JSON" />
             	<p:commandButton type="button" value="Agregar producto" onclick="PF('addDialog').show();" icon="fa fa-plus"></p:commandButton>
            	<p:commandButton  value="Limpiar todo" actionListener="#{frontEndView.cleanAll}" process="@form" update="@form"></p:commandButton>
            	<p:commandButton  value="Limpiar productos"  actionListener="#{frontEndView.cleanProducts}"  process="@form" update="@form" ></p:commandButton>
            
            
            
          </div>
        	
               
            <div class="ui-g ui-fluid">
               			
               			  <div class="ui-g-12 ui-md-4">
                        <p:panel header="Categories" style="">
                            <p:dataTable var="cat" value="#{frontEndView.categoriesList}"
                            	paginator="true" rows="5"
                             selectionMode="single" rowKey="#{cat.categori_id}" reflow="true">
                                <p:column headerText="Id" sortBy="#{cat.categori_id}">
                                    <h:outputText value="#{cat.categori_id}" />
                                </p:column>
                                <p:column headerText="Name" sortBy="#{cat.name}">
                                    <h:outputText value="#{cat.name}" />
                                </p:column>

                            </p:dataTable>
                        </p:panel>
                    </div>
                   
                        
                        <div class="ui-g-12 ui-md-8">
                        <p:panel header="Products" style="">
                            <p:dataTable var="product" value="#{frontEndView.products}" filteredValue="#{frontEndView.filteredProducts}"
                            	paginator="true" rows="10" widgetVar="prodTable"
                             selectionMode="single" rowKey="#{product.id}" reflow="true">
                             
                             <f:facet name="header">
					            <p:outputPanel>
					                <h:outputText value="Digita búsqueda:" />
					                <p:inputText id="globalFilter" onkeyup="PF('prodTable').filter()" style="width:150px" placeholder="Keywords"/>
					            </p:outputPanel>
					        </f:facet>
        
                                <p:column style="width:16px">
						            <p:rowToggler />
						        </p:column>
                                <p:column headerText="Id" sortBy="#{product.id}" filterBy="#{product.id}">
                                    <h:outputText value="#{product.id}" />
                                </p:column>
                                <p:column headerText="Name" sortBy="#{product.name}" filterBy="#{product.name}">
                                    <h:outputText value="#{product.name}" />
                                </p:column>

                                <p:column headerText="Price" sortBy="#{product.auxPrice}" filterBy="#{product.auxPrice}">
                                    <h:outputText value="#{product.auxPrice}" />
                                </p:column>
                                <p:column headerText="Available" sortBy="#{product.available}" filterBy="#{product.available}">
                                    <h:outputText value="#{product.available}" />
                                </p:column>
                                <p:column headerText="BestSeller" sortBy="#{product.best_seller}" filterBy="#{product.best_seller}">
                                	<h:outputText value="#{product.best_seller}" />
                                </p:column>
                                 
                                 <p:column headerText="Remove" >
                                 	<p:commandButton actionListener="#{frontEndView.deleteProduct(product)}" icon="fa fa-remove Fs16 White" process="@this" update="@form" />
                                 </p:column>
                                
						                
                                <p:rowExpansion >
						            <p:panelGrid  columns="2" columnClasses="label,value" style="width:300px">
						            	<f:facet name="header">
                					</f:facet>
              							<h:outputText value="Img:" />
                						<h:outputText value="#{product.img}" />
						 				<h:outputText value="Description:" />
               							<h:outputText value="#{product.description}" />
						            </p:panelGrid>
						            
						            <p:panelGrid >
						            	 <p:dataList var="catTmp" value="#{product.categoriesAux}" >
			                                   
			                                    #{catTmp.name}
                                		</p:dataList>
						            </p:panelGrid>
						        </p:rowExpansion>
							
                            </p:dataTable>
                        </p:panel>
                    </div>
                    
                     <p:dialog header="Add Product" style="background:#fff;height:100%" widgetVar="addDialog" responsive="true">
                            <div class="ui-g-12">
                            	<h:panelGrid columns="2">
	                                <p:outputLabel value="Id" for="selectId" />
	                                <h:inputText id="selectId" value="#{frontEndView.newProduct.id}"></h:inputText>
	                                
	                                <p:outputLabel value="Name" for="selecNam" />
	                                <h:inputText id="selecNam" value="#{frontEndView.newProduct.name}"></h:inputText>
	                                
	                                <p:outputLabel value="price" for="selectPrice" />
	                                <h:inputText id="selectPrice" value="#{frontEndView.newProduct.price}"></h:inputText>
	                                
	                                <p:outputLabel value="Available" for="selectAvailable" />
	                                <p:selectBooleanCheckbox id="selectAvailable" value="#{frontEndView.newProduct.available}"></p:selectBooleanCheckbox>
	                                
	                                <p:outputLabel value="BestSeller" for="best_seller" />
	                                <p:selectBooleanCheckbox id="best_seller" value="#{frontEndView.newProduct.best_seller}"></p:selectBooleanCheckbox>
	                               
	                               <p:outputLabel value="Categories" for="menu" />
	                                <p:selectCheckboxMenu id="menu" value="#{frontEndView.selectedCategories}" label="Cities"
						                              panelStyle="width:250px" >
						            		<f:selectItems value="#{frontEndView.categoriesList}" itemLabel="#{catTmp.name}" itemValue="#{catTmp.categori_id}#{''}" var="catTmp"/>
						        	</p:selectCheckboxMenu>
						        	
						        	<p:outputLabel value="Image" for="selectImg" />
	                                <h:inputText id="selectImg" value="#{frontEndView.newProduct.img}"></h:inputText>
	                                
	                                <p:outputLabel value="Description" for="selectDes" />
	                                <p:inputTextarea id="selectDes" value="#{frontEndView.newProduct.description}"></p:inputTextarea>
	                               <br/>
                            	</h:panelGrid>
                            	<p:commandButton value="Agregar" icon="fa fa-plus" update="@form" process="@form" actionListener="#{frontEndView.addProduct}" oncomplete="PF('addDialog').hide();"></p:commandButton>
                             </div>
                        </p:dialog>
                      
                    
               
            </div>
        </h:form>
        
    </ui:define>

</ui:composition>