<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <div class="footer">
        <h:graphicImage id="footer-logo" name="images/logo.png" style="height:30%;width:2%;" library="icarus-layout"/>
        <p>Test de Danny for Rappi</p>
        
        <div class="copyright">
            <p>Todos los Derechos Reservados.</p>
        </div>
    </div>
    
</ui:composition>