<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pi="http://primefaces.org/icarus">


    <h:form id="menuform">

        <pi:menu widgetVar="IcarusMenu">
         	<p:submenu id="im_components11" label="BackEnd" icon="fa fa-users">
           		<p:menuitem id="im_dashboard" value="Challenge" icon="fa fa-home" onclick="location.href = '/rappi-danny/backEnd';" />
            	<p:menuitem id="im_doc" value="BackEndAnswers" icon="fa fa-book" onclick="location.href = '/rappi-danny/backEndAnswers';"/>
            </p:submenu>
            <p:menuitem id="im_panels" value="FrontEnd" icon="fa fa-list-alt" onclick="location.href = '/rappi-danny/front.xhtml';" />
        </pi:menu>
        
    </h:form>
    
</ui:composition>