<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Danny-Rappi</title>
        <h:outputScript name="js/nanoscroller.js" library="icarus-layout" />
        <h:outputScript name="js/layout.js" library="icarus-layout" />
        
        <link rel="icon" href="https://www.rappi.com/assets/images/rappi_favicon.png" />

        <ui:insert name="head"/>
    </h:head>

    <h:body>
        <div class="wrapper">
            
            <div id="sidebar-wrapper">
                <ui:include src="sidebarheader.xhtml" />
                            
                <div class="sidebar-nav nano">
                    <div class="nano-content sidebar-scroll-content">
                        <ui:include src="layoutmenu.xhtml" />
                    </div>
                </div>
            </div>   
            
            <ui:include src="topbar.xhtml" />         
            
            <div id="main-wrapper">
                <div class="main-content">
                    <ui:insert name="content"></ui:insert>
                </div>
                
                <ui:include src="footer.xhtml" />
            </div>
        </div>
        
        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <p:graphicImage name="images/preloader.gif" library="icarus-layout" style="width: 32px;"/>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>
        
        <h:outputStylesheet name="css/animate.css" library="icarus-layout" />
        <h:outputStylesheet name="css/nanoscroller.css" library="icarus-layout" />
        <h:outputStylesheet name="css/layout-red.css" library="icarus-layout" />
    </h:body>

</html>